<!DOCTYPE html>
<html lang="en">
<head>
<link href="stylesheets/paymentStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="/stylesheets/generalUserStyle.css" >
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Donations</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >

</head>
<body>



    <div class="navigationBar">
        <a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
        <a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
        <a href="/donation"><i class= "far fa-heart"></i> Give</a>
        <div class="navDropDown">
            <button class="navdropbtn">Events
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navdropdown-content">
            <a href="/event">Annual Events</a>
            <a href="/booking">Theater</a>
            <a href="/event">Masses</a>
            </div>
        </div>
        <a href="/"><i class="fa fa-home fa-2xl"></i></a>
        <a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
        <a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
        <a class="loginButton"> <button class="center" id = "show-login" ><i> Login</i></button></a>
        <div class="navUserSign">
          <button class="navdropUserSign">
              <i class="fas fa-user"></i>
          </button>
          <div class="navdropdown-content">
          <a href="/deletecookie">Sign Out</a>
          </div>
        </div>
      
      </div>


<header>
    <h2 id="thanksDonation" style="margin-top: 6%;">
    Thanks for your desire to help us “empower people to live a life of
    freedom through Jesus Christ”! Giving cheerfully and sacrificially of
    our finances is part of our worship. Where we spend our treasure, our
    hearts follow. And as a church family, we consider it a privilege to
    give our money to such a worthy cause.
    </h2>
</header>

<article>
    <br />
    <br />
    <br />
    <div class="container-wrap">
    <span class="code">$</span>
    <label for="donationmoney" style="font-size: 20px; font-weight: bold"
        >Give</label
    >
    <label
        for="currency"
        style="
        font-size: 12px;
        margin-left: 270px;
        background-color: gainsboro;
        "
        >$USD</label
    >
    <br />
    <input type="number"style=" width: 300px" class="currency"
    for="donationmoney"
    </div>

    <br />
    <br />
    <br />
    <a href="/payment" class="button-29" role="button">Continue</a>
    <br />
    <br />
    <br />
    <hr style="width: 50%" />
    <h3 id="options">Other Options</h3>
    <div class="donatebymaildiv">
    <h2 class="donatebymailtext">Donate by Mail</h2>
    <h3>
        To donate by phone or to get assistance with your donation, please
        contact us at 1-800-HELP NOW (1-800-435-7669).
    </h3>
    </div>
    <div class="donatebyphonediv">
    <h2 class="donatebymailtext">Donate by phone</h2>
    <h3>
        To donate by check or to a specific cause, please complete this
        donation form by printing and mailing to:
    </h3>
    </div>
</article>


<div class="fixedFooter">
    <div class="fixedFooterIcons">
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-xl" style="padding:20px"></i></a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-xl" style="padding:20px"></i></a>
      <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-xl" style="padding:20px"></i></a>
      <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-xl" style="padding:20px"></i></a>
    </div>
  </div>


  <div class="donationFooter">
    <div class="footerIcons">
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-2xl" style="padding:20px"></i></a>
    </div>

    <div class="footerLeft">
      <a class = "footerTitle"> CONTACT</a>
      <br>
      <br>
      <a><i class="fas fa-phone-square-alt" style="padding:10px"></i> 12345</a>
      <br>
      <a><i class="fas fa-envelope-square" style="padding:10px"></i> kenesty@cairo.org.eg</a>
    </div>

    <div class="footerRight">
      <a class = "footerTitle"> LOCATION</a>
      <br>
      <br>
      <a><i class="fas fa-map-marker-alt" style="padding:10px"></i> 123, XYZ Road ASU</a>
      <br>
      <a> Cairo, EGYPT</a>
    </div>

    <div class="footerText">
      <a href="/"><i  style="padding:10px"></i> Home</a>
      <a href="index.html#services" ><i  style="padding:10px"></i>Services</a>
      <a><i  style="padding:10px"></i>About</a>
      <a><i  style="padding:10px"></i>Privacy Policy</a>
    </div>

    <div class="copyright"> <a><i class="far fa-copyright" style="padding:2px"></i></a>2022 ASU Engineers | All Rights Reserved</div>


  </div>





  <div class = "popup">
    <div class="close-btn">&times;</div>
    <div class="form">

      <div class="split left">
      <img src="/images/homeImg/st-anthony-s-catholic.jpg" class = "leftpic" alt="Church" title="knisty"  height="100%" width="50%"/>
      </div>

      <div class="split right">
          <h1 class="pageTitles">كنيستى</h1>
          <br>
          <br>
          <form class="login_form" method="post" action="/validateUserLogin" name="form" onsubmit="return validated()">
            <div class="imgcontainer">
              <img src="/images/homeImg/kenstylogo2.png" alt="knesty" class="knestylogo" style=" margin-left: 70%;">
            </div>
            <legend class="SignInTitle" style="position: absolute; margin-left: 22%;">Sign in to your account</legend>
            <div class="input-container">            
              <i class="fas fa-user icon"></i>
            <input class="input-container"
            autocomplete="off"
            id="userName"
            name="userNameLogin"
            type="text"
            placeholder="Enter Your ID"
            />
          <div id="username_error">Please Fill up your ID</div>
          
            
              <i class="fas fa-lock icon"></i>
              
              <input class="input-container pass_field"
                id="id_password"
                name="passwordLogin"
                autocomplete="off"
                type="password"
                placeholder="Enter Password"
              />
              <i class="fa fa-eye" id="togglePassword" style="cursor: pointer" ></i> 
              <div id="pass_error">Please Fill up your password</div>
    
              <button type="submit" id="loginbtn">Login</button>
              <a class="forgotPasswordLink" href="#"> Forgot Password? </a> 

              <br>
            
              <label class="keepme">
                <input type="checkbox" checked="checked" name="rememeber" />
                Keep me signed in
              </label>
            <div>
          </form>
        </div>
        <script src="/javascripts/home.js" rel></script>
      </div>  
</div>







</body>
</html>
