<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/seatBookingStyle.css" />
<link rel="stylesheet" href="/stylesheets/generalUserStyle.css" >
<title>Event Seat Booking</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >

</head>
<body>



   
<div class="navigationBar">
    <a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
    <a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
    <a href="/donation"><i class= "far fa-heart"></i> Give</a>
    <div class="navDropDown">
        <button class="navdropbtn">Events
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="navdropdown-content">
        <a href="/event">Annual Events</a>
        <a href="/booking">Theater</a>
        <a href="/event">Masses</a>
        </div>
    </div>
    <a href="/"><i class="fa fa-home fa-2xl"></i></a>
    <a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
    <a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
    <div class="navUserSign">
      <button class="navdropUserSign">
          <i class="fas fa-user"></i>
      </button>
      <div class="navdropdown-content">
      <a href="/deletecookie">Sign Out</a>
      </div>
    </div>
        <br>
        <br>
        <br>
        <h2 class="pageTitle" style="text-align: center; font-weight: bold;"><%= eventName %></h2>


<div class="events-container">
    <label> Select an Event:</label>
    <select id="event">
    <option value="20">Event 1</option>
    <option value="30">Event 2</option>
    <option value="50">Event 3</option>
    <option value="60">Event 4</option>
    </select>
</div>

<ul class="showcase" >
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat sold"></div>
      <small>Sold</small>
    </li>
  </ul>

  <div class="container" >
    <div class="screen"></div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>

    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
    </div>
    <div class="row">
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat sold"></div>
      <div class="seat"></div>
    </div>
  </div>

<p class="text">
    You have selected <span id="count">0</span> seat for a price of EGP<span id="total">0</span>
</p>


<a href="/payment?eventName=<%= eventName %>&price=20" class="goToPay" role="button">Proceed To Payment</a>

<script src="/javascripts/seatBookingScript.js"></script>

</body>
</html>











</body>
</html>