
<!DOCTYPE html>
<html lang="en">
<head>
    <title> wedding booking </title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/stylesheets/weddingStyle.css">
    <link rel="stylesheet" href="/stylesheets/generalUserStyle.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
</head>

<body>
    <div class="navigationBar">
        <a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
        <a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
        <a href="/donation"><i class= "far fa-heart"></i> Give</a>
        <div class="navDropDown">
            <button class="navdropbtn">Events
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navdropdown-content">
            <a href="/event">Annual Events</a>
            <a href="/booking">Theater</a>
            <a href="/event">Masses</a>
            </div>
        </div>
        <a href="/"><i class="fa fa-home fa-2xl"></i></a>
        <a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
        <a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
        <a class="loginButton"> <button class="center" id = "show-login" ><i> Login</i></button></a>
        <div class="navUserSign">
        <button class="navdropUserSign">
            <i class="fas fa-user"></i>
        </button>
        <div class="navdropdown-content">
        <a href="/deletecookie">Sign Out</a>
        </div>
    </div>
    
    </div>

    <div class="parent">
        <p>
            Wedding&nbsp;&nbsp;booking&nbsp;&nbsp;form
        </p>
        <form action="/requestWedding" method="post">
            <link rel="stylesheet" href="/stylesheets/weddingStyle.css">
            <hr class="solid" width="610px" >
            <fieldset style="width: 600px">
                <legend>
                    <h2  style="margin-left: 0%;">
                        Client Info
                    </h2>
                </legend>
                <label class="databox" for="fname">First Name</label>
                <input required type="text" id="fname" name="clientFirstName" placeholder="Enter User's first name">
                <br>
                <label class="databox" for="lname">Last Name</label>
                <input required type="text" id="lname" name="clientLastName" placeholder="Enter User's last name" >

            
                <br>
                <label class="databox" for="email">E-mail</label>
                <input required type="email" id="email" name="clientEmail" placeholder="User's e-mail" >
                <br>
                <label class="databox" for="number">Phone Number</label>
                <input type="text" id="number" name="number" placeholder="Enter phoneNumber">
                <br> 
                <label class="databox" for="dateofbirth">Address</label>
                <input type="text" id="address" name="clientAddress" placeholder="Enter User's address">
                <br>
                <hr class="solid">
                <legend>
                    <h2  style="margin-left: 0%;">
                        Event Information
                    </h2>
                </legend>
                <label for="availabledates" style="margin-bottom: 3%;">Available Dates</label>
                    <select name="date" id="availabledates" required style="border-radius: 30%; margin-left: -4%;">
                        <option value="0" disabled selected>Select your option</option>
                        <option value="jan1">1st of January 2023</option>
                        <option value="jan8">8th of January 2023</option>
                        <option value="jan17">17th of January 2023</option>
                        <option value="jan19">19th of January 2023</option>
                        <option value="jan29">29th of January 2023</option>
                        <option value="feb10">10th of February 2023</option>
                        <option value="feb19">19th of February 2023</option>
                        <option value="feb21">21st of February 2023</option>
                        <option value="feb28">28th of February 2023</option>
                        <option value="mar4">4th of March 2023</option>
                        <option value="mar11">11th of March 2023</option>
                        <option value="mar18">18th of March 2023</option>
                        <option value="mar25">25th of March 2023</option>
                        <option value="ap3">3rd of April 2023</option>
                        <option value="ap10">10th of April 2023</option>
                        <option value="ap17">17th of April 2023</option>
                        <option value="ap22">22nd of April 2023</option>
                        <option value="may5">5th of May 2023</option>
                        <option value="may13">13th of May 2023</option>
                        <option value="may19">19th of May 2023</option>
                        <option value="may24">24th of May 2023</option>
                    </select>
                <div class="start">
                    <label for="startime" >Start time:</label>
                    <select name="startime" id="startime" style="width: 15%; left: -15%; border-radius: 30%;margin-bottom: -5%; margin-top: -20%;">
                        <option value="0" disabled selected>Select your option</option>
                        <option value="12pm">12 pm</option>
                        <option value="3pm">3 pm</option>
                        <option value="6pm">6 pm</option>
                        <option value="9pm">9 pm</option>
                    </select>
                    <label for="endtime" >End time:</label>
                    <select placeholder="Aloooo" name="endtime" id="endtime" style="width: 15%; left: -15%; border-radius: 30%; top: 5%;" >
                        <option value="0">Select your option</option>
                        <option value="2pm">2 pm</option>
                        <option value="4pm">4 pm</option>
                        <option value="6pm">6 pm</option>
                        <option value="8pm">8 pm</option>
                        <option value="10pm">10 pm</option>
                        <option value="12pm">12 am</option>
                    </select>
                </div>
                <label for="guets">Number of guests :</label>
                <input type="number" id="quantity" name="numberOfGuests" min="15" max="75" style="width: 20%; border-radius: 30%; left: -1%;">
            <button class="button" style="vertical-align:middle;margin-left: -1%;" ><span>&#10004</span></button>            
                <hr class="solid">
                <legend>
                </legend>
                <p style="color: black; font-style: normal; font-weight: 300; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 20px; right: 12%;">
                    By clicking on 'agree', i am sure of all the info i have entered and ready to submit
                </p>
                <button class="button" style="vertical-align:middle; width: 13%; left:87%; font-size: 120%; font-style: bold;" ><span>Agree</span></button>
                <br>
                <br>
                <br>
            </fieldset>
            <button class="button-56" role="button">Submit</button>
        </form>

    </div>
    <div class="container2">
        <img src="123.jpg" alt="">
    </div>
    <div class="container3">
        <img src="456.jpg" alt="">
    </div>
    <!-- <div class="container2">
        <img class="class-1 left" src="/images/weddingFormImg/newleftlast.png" alt="Left Border" >
    </div>
    <div class="container3">
        <img class="class-1 right"src="/images/weddingFormImg/newright11.png" alt="Right Border">

    </div> -->


<div class="fixedFooter">
    <div class="fixedFooterIcons">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-xl" style="padding:20px"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-xl" style="padding:20px"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-xl" style="padding:20px"></i></a>
        <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-xl" style="padding:20px"></i></a>
    </div>
    </div>


    <div class="weddingFooter">
    <div class="footerIcons">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-2xl" style="padding:20px"></i></a>
    </div>

    <div class="footerLeft">
        <a class = "footerTitle"> CONTACT</a>
        <br>
        <br>
        <a><i class="fas fa-phone-square-alt" style="padding:10px"></i> 12345</a>
        <br>
        <a><i class="fas fa-envelope-square" style="padding:10px"></i> kenesty@cairo.org.eg</a>
    </div>

    <div class="footerRight">
        <a class = "footerTitle"> LOCATION</a>
        <br>
        <br>
        <a><i class="fas fa-map-marker-alt" style="padding:10px"></i> 123, XYZ Road ASU</a>
        <br>
        <a> Cairo, EGYPT</a>
    </div>

    <div class="footerText">
        <a href="/"><i  style="padding:10px"></i> Home</a>
        <a href="index.html#services" ><i  style="padding:10px"></i>Services</a>
        <a><i  style="padding:10px"></i>About</a>
        <a><i  style="padding:10px"></i>Privacy Policy</a>
    </div>

    <div class="copyright"> <a><i class="far fa-copyright" style="padding:2px"></i></a>2022 ASU Engineers | All Rights Reserved</div>


    </div>
    

<div class = "popup">
    <div class="close-btn">&times;</div>
    <div class="form">

        <div class="split left">
        <img src="/images/homeImg/st-anthony-s-catholic.jpg" class = "leftpic" alt="Church" title="knisty"  height="100%" width="50%"/>
        </div>

        <div class="split right">
            <h1 class="pageTitles">كنيستى</h1>
            <br>
            <br>
            <form class="login_form" method="post" action="/validateUserLogin" name="form" onsubmit="return validated()">
            <div class="imgcontainer">
                <img src="/images/homeImg/kenstylogo2.png" alt="knesty" class="knestylogo">
            </div>
            <legend class="SignInTitle">Sign in to your account</legend>
            <div class="input-container">            
                <i class="fas fa-user icon"></i>
            <input class="input-container"
            autocomplete="off"
            id="userName"
            name="userNameLogin"
            type="text"
            placeholder="Enter Your ID"
            style="width: 420px; height: 35px; padding: 20px; border: 1px solid rgba(16, 16, 22, 0.738); font-size: small; left: 0px;" />
            <div id="username_error">Please Fill up your ID</div>
            
            
                <i class="fas fa-lock icon"></i>
                
                <input class="input-container pass_field"
                id="id_password"
                name="passwordLogin"
                autocomplete="off"
                type="password"
                placeholder="Enter Password"
                style="width: 420px; height: 35px; padding: 20px; border: 1px solid rgba(16, 16, 22, 0.738); font-size: small; left: 0px;" />
                <i class="fa fa-eye" id="togglePassword" style="cursor: pointer" ></i> 
                <div id="pass_error">Please Fill up your password</div>
    
                <button type="submit" id="loginbtn">Login</button>
                <a class="forgotPasswordLink" href="#"> Forgot Password? </a> 

                <br>
            
                <label class="keepme">
                <input type="checkbox" checked="checked" name="rememeber" />
                Keep me signed in
                </label>
            <div>
            </form>
        </div>
        <script src="/javascripts/home.js" rel></script>
        </div>  
</div>
    






</body>
</html>
