<!DOCTYPE html>
<html lang="en">
<head>
<title> admin booking approvals </title>
<link rel="stylesheet" href="/stylesheets/weddingAdminStyle.css">
<link rel="stylesheet" href="/stylesheets/generalAdminStyle.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >

</head>
<body>
    <div class="navigationBar">
        <a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
        <a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
        <a href="/donation"><i class= "far fa-heart"></i> Give</a>
        <div class="navDropDown">
            <button class="navdropbtn">Events
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="navdropdown-content">
            <a href="/event">Annual Events</a>
            <a href="/booking">Theater</a>
            <a href="/event">Masses</a>
            </div>
        </div>
        <a href="/"><i class="fa fa-home fa-2xl"></i></a>
        <a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
        <a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
        <a href="/homeAdmin"><i class="fa fa-home"></i></a>
        <div class="navUserSign">
        <button class="navdropUserSign">
            <i class="fas fa-user"></i>
        </button>
        <div class="navdropdown-content">
        <a href="/deletecookie">Sign Out</a>
        </div>
    </div>
    
    </div>
<div class="parent">
    <p>
    Wedding&nbsp;&nbsp;forms&nbsp;&nbsp;approval
    </p>
    <hr class="solid" width="610px" >
    <br>
    <br>
    <table>
        <tr style="text-align: center; font-size: 140%; color: rgb(64, 62, 59);">
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Chosen Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Number of guests</th>
            <th>Approval</th>
        </tr>
        <tr style="font-size: 120%; ">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center; vertical-align: middle; size: 25%;">
            <input type="checkbox" name="query_myTextEditBox">    
            </td>
        </tr>
        <tr style="font-size: 120%;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center; vertical-align: middle; ">
                <input type="checkbox" name="query_myTextEditBox">    
            </td>
        </tr>
        <tr style="font-size: 120%;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center; vertical-align: middle; size: 25%;">
                <input type="checkbox" name="query_myTextEditBox">    
            </td>
        </tr>
        <tr style="font-size: 120%;">
            <td></td>
            <td></td>
        <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: center; vertical-align: middle; size: 25%;">
                <input type="checkbox" name="query_myTextEditBox">    
            </td>
        </tr>
        </table>
</div>
</body>